* {
    font-family: 'Segoe UI', sans-serif;
}

body, footer, header {
    background-color: #fcfbfa;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
}